 
body {
    color: rgb(220, 124, 28);
    background: orange;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(228, 99, 0);
    padding: 20px;
    font-size: 32px;
    color: rgb(228, 98, 42);
}

.chamada {
  background: rgb(255, 193, 60);
  padding-bottom: 80px;
  padding-top: 80px;
  display: flex;
  justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}
  
  h1 {
    font-size: 40px;
  }
  
  p {
    font-size: 20px;
  }
  img {
    height: 200px;
  }
  .categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
  }
  section {
    background: rgb(255, 190, 79);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
  }
  
  section {
    padding-left: 20px;
    padding-right: 20px;
  }
  .categoria-videos img {
    opacity: 0.5;
    height: 200px
}
.categoria-videos img:hover {
  opacity: 1.0;
  border: 1px solid green;
}
.categoria{
  padding-left:20px;
  padding-right: 20px;
  margin-top: 50px;
}